certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
decorator==4.4.2
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.22.2
Pillow==9.0.1
proglog==0.1.9
pypiwin32==223
pytube==12.0.0
pywin32==303
requests==2.27.1
tqdm==4.63.0
urllib3==1.26.8
